.central {
  border: 0.1rem solid;
  height: 21rem;
  width: 21.75rem;
  margin-left: 37%;
  margin-top: 5rem;
  background-color: #100f14;
}
.bottom {
  border: 0.1rem solid;
  width: 21.75rem;
  margin-left: 31.25rem;
  margin-top: 0.625rem;
  height: 3.8125rem;
  background-color: #100f14;
}
#geral {
  height: 2.5rem;
  width: 19rem;
  border-radius: 0.3rem;
}
.pedro {
  text-align: center;
  margin-top: 2rem;
}
.text1 {
  margin-top: 2rem;
}
.couto {
  margin-top: 2rem;
  width: 19rem;
  height: 2rem;
}
.reis {
  color: white;
  text-align: center;
  font: 700 200% 'Poppins', sans-serif;
}
